// 颜色定义规范
$color-background = #f4f5f6
$color-background-d = #FFF
$color-background-e = #53a1ff
$color-background-ee = #ff537d
$color-background-f = #33b4ff
$color-background-i = #f4f4f4
$color-background-b = rgba(0, 0, 0, .1)
$color-background-l = rgba(0, 0, 0, .5)
$color-background-ll = rgba(0, 0, 0, .8)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #333
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #da4132
$color-text = #333
$color-text-head = #12b7f5
$color-text-a = #FFF
$color-text-b = rgba(0, 0, 0, 0.1)
$color-text-c = rgba(0, 0, 0, 0.2)
$color-text-d = rgba(0, 0, 0, 0.3)
$color-text-l = rgba(0, 0, 0, 0.5)
$color-text-ll = rgba(0, 0, 0, 0.8)
$color-text-e = #33b4ff
$color-border = #dedfe0
$color-border-b = rgba(0, 0, 0, 0.1)
$color-border-c = rgba(0, 0, 0, 0.2)
$color-border-d = rgba(0, 0, 0, 0.3)
$color-border-e = #33b4ff
$color-border-l = rgba(0, 0, 0, 0.5)

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-huge = 24px
$font-size-huge-x = 26px